---
layout: splash_base
---

<div id="splash-background"></div>

<div class="splash-hero">
  <h1>Welcome to Byte Sized Code!</h1>
  <p class="splash-intro">
   Snippets and stories in science, data, and code—one byte at a time.
  </p>
  <div class="splash-links">
    <a href="/aboutme/" class="site-button">About Me</a>
    <a href="/projects/" class="site-button">Projects</a>
    <a href="/publications/" class="site-button">Publications</a>
    <a href="/blog/" class="site-button">Blog</a>
    <a href="/links/" class="site-button">Resources</a>
  </div>
  <script src="/assets/js/animated-dots.js"></script>
</div>